.hex-pane {
    -fx-fill: white;
}

.hex-tile {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.hex-tile.Sea {
    -fx-fill: rgba(0, 0, 128, 0.35)
}

.hex-tile.Shore {
    /* -fx-fill: rgba(255, 125, 40, 0.5)  /*debug color, for debug only*/
}

.hex-tile.Plantation {
    /* -fx-fill: rgba(0, 200, 0, 0.5)  /*debug color, for debug only*/
}

.hex-tile.PlantationExtra {
    /* -fx-fill: rgba(0, 200, 0, 0.5)  /*debug color, for debug only*/
}

.hex-tile.Port {
    /* -fx-fill: rgba(20, 20, 225, 0.5) /*debug color, for debug only*/
}

.hex-tile.Shipwreck {
    -fx-fill: rgba(255, 255, 0, 1)
}

#main-map .hex-tile.selected {
    -fx-fill: rgba(255, 255, 0, 0.6)
}

.hex-tile:hover {
    -fx-fill: rgba(255, 255, 230, 0.4)
}

.hex-tile.disabled {
    -fx-fill: rgba(20, 0, 0, 0.40);
}

.hex-tile.highlighted {
    -fx-fill: rgba(255, 0, 0, 0.6)
}

.editable-text .text-field {
    -fx-background-color: white;
    -fx-padding: 0px;
}

.editable-text .text-field.invalid {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.mini-button {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: transparent;
}

.mini-button:hover {
    -fx-border-color: black;
}

.mini-button.contrast:hover {
    -fx-border-color: ladder(-team-color, white 49%, black 50%);
}

.ship-stats-view .progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.5em;
    -fx-accent: lime; /*-team-color;*/
}

#shipName #contentShow, #teamName #contentShow {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#boxHeader {
    -fx-background-color: -team-color;
}

.contrast .text {
    -fx-fill: ladder(-team-color, white 49%, black 50%);
}

#backRect {
    -fx-stroke: -team-color;
}

.ship-view, .team-view {
    -fx-border-color: -team-color;
    -fx-border-width: 4px;
    -fx-border-radius: 2px;
}

#colorPicker {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

#colorPicker .glyph-font {
    -fx-border-color: transparent;
}

#colorPicker .glyph-font:hover {
    -fx-border-color: ladder(-team-color, white 49%, black 50%);
}

.ship-figure .progress-bar > .bar {
    -fx-padding: 0px;
    -fx-background-insets: 3px;
    -fx-accent: lime;
    -fx-background-radius: 1px;
}

.ship-figure .progress-bar > .track {
    -fx-background-color: white;
    -fx-background-insets: 3px;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
}

.ship-figure .progress-bar {
    -fx-effect: dropshadow(gaussian, grey, 25, 0.4, 1, 1);
    -fx-opacity: 1;
}

.ship-view.related {
    -fx-background-color: yellow;
}

#mouseBlocker {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.destroyed .text {
    -fx-fill: red;
}

.empty {
    -fx-opacity: 0.3;
}

.inmap-resources {
    -fx-effect: dropshadow(gaussian, white, 4, 0.9, 0, 0);
}

.action-selector-cost .editable-text .text {
    -fx-font-weight: bold;
}