.hex-tile {
    -fx-stroke: black;
    -fx-fill: transparent;
}

.hex-tile:hover {
    -fx-fill: LemonChiffon;
}

.hex-tile.origin {
    -fx-fill: black;
}

.hex-tile.selected {
    -fx-fill: yellow;
    -fx-effect: dropshadow(gaussian, yellow, 20, 0.2, 0, 0);
}

.hex-parent.clipped {
    -hex-clip: true;
}
