.hexTile {
    -fx-stroke: black;
    -fx-fill: transparent;
}

.hexTile:hover
{
    -fx-fill: LemonChiffon;
}

.hexParent.origin .hexTile
{
    -fx-fill: black;
}

.hexParent.selected .hexTile
{
    -fx-fill: yellow;
    -fx-effect: dropshadow(gaussian, yellow, 20, 0.2, 0, 0);
}

.hexParent.clipped
{
    -hex-clip: true;
}
