
.hexTile:hover {
    -fx-fill:derive(background, 60%);
}

.hexTile {
    -fx-fill:background;
    -fx-stroke:black;
}

.hexParent.odd .hexTile
{
    background:blue;
}

.hexParent.even .hexTile
{
    background:yellow;
}

.hexParent.odd .label
{
    -fx-text-fill: white;
}
