
.hexTile:hover {
    -fx-fill:derive(background, 60%);
}

.hexTile {
    -fx-fill:background;
    -fx-stroke:black;
}

.hexTile.odd
{
    background:blue;
}

.hexTile.even
{
    background:yellow;
}

.hexParent.odd .label
{
    -fx-text-fill: white;
}

